@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding:  0;
}

body {
    font-family: "Lato", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rbg(85, 85, 85);
}

/* Transition */

a, .btn{
    /* ease all transitions */
    transition: all 300ms ease;
}

/* DESKTOP - NAV BAR */
/* change style to flex-box */

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around; /*for horizontal*/
    align-items: center;    /* for vertical */
    height: 8vh;
}

.nav-links{
    list-style: none; 
    gap: 2rem;
    font-size: 1.5rem;
    
}

a{
    color: black;
    text-decoration: none;
}

.hey{
    color: blue;
}

.nav-links:hover::after{
    display: none;
}

.title a:hover{
    color: red;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: grey;
    transition: text-decoration 0ms ease;
    
}

.desktop-nav .logo{
    font-size: 2rem;
}

.desktop-nav .logo:hover{
    cursor: default;
}

/* HAMBURGER MENU */

.hamburger-nav .logo{
    font-size: 1.5rem;
}

.hamburger-nav{
    display: none;
}

/* to contain the absolute elements inside */
.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    /* space-between will now apply in column direction */
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.hamburger-links{
    position: absolute;
    /* 100% of parent / ham-menu away */
    top: 100%;
    right: 0; 
    background-color: white; /* as wide as necessary to fit contents */
    width: fit-content; 

    /* to hide links initially // could use display:none as well */
    max-height: 0; 
    /* to hide anything that exceeds max-height */
    overflow: hidden; 

    transition: all 0.3 ease-in-out;
}

.hamburger-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.hamburger-links li{
    list-style: none;
}

/* to toggle the menu display */
.hamburger-links.open {
    max-height: 300px;
}

/* all these blocks below just turn three-lines into a cross */

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
    transform: 1;
    transform: none;
}

/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid var(--box-color);
    transition: .5s;
    
}
.nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}

.nav__logo-text {
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

.btn__share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social__share {
    font-size: 1.5rem;
}

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: var(--z-fixed);
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

/* Active Link */
.nav__link.active-link, .nav__link:hover {
    color: var(--skin-color);
}

.nav__link.active-link::after, .nav__link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

.main{
    margin-left: 100px;
}

/*===== Qualification Section =====*/

.qualification__container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline__item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: var(--mb-2-5);
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: .47rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: black;
    transition: .3s;
}

.timeline__item:hover .circle__dot {
    background-color: white;
}

.timeline__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline__text {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}

