*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: black;
}

#mainNavBar {
    background-color: #3399ff;
    height: 65px;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    /* #06AED5  #086788*/
}

#mainNavBar a{
    color: #fff;
    font-size: 1rem;
}

.carousel-item img{
    height: 500px;
}