h1 {
    display: block;
    max-width: 1000px;
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid;
}

body{
    background: linear-gradient(to bottom right, white 50%, #3399ff 50%);
}

.secondary{
    text-align: center;
    font-size: 18px;
}

.card {
    width: 48%;
    margin: 8px;
}

.card img {
    width: 100%;
}

.menu {
    margin-top: 55px;
}

